body {
  background-image: url(../images/alice_in_wonderland_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

li {
  display: inline-block;
}

ul {
  position: relative;
  display: inline-block;
  margin-top: 100px;
  margin-left: 50px;
}

#player {
  position: relative;
  margin:0 auto;
}

textarea {
  background: transparent;
  border: 0 none;
  color: red;
  font-style: bold;
  font-family: cursive;
  text-align: center;
  font-size: 15pt;
  margin-top: 100px;
}

#score1 {
  width: 50px;
  height: 50px;
  font-family: cursive;
  font-size: 50pt;
  color: red;
}

#score2 {
  width: 50px;
  height: 50px;
  font-family: cursive;
  font-size: 50pt;
  color: red;
}

#box1 {
  width: 350px;
  height: 350px;
  position: relative;
  margin-bottom: 100px;
  background-image: no-repeat;
  background-size: contain;
}

#box2 {
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#box3 {
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#box4 {
  width: 350px;
  height: 350px;
  background-image: no-repeat;
  background-size: contain;
}

button {
  font-family: cursive;
  font-size: 20pt;
  position: fixed;
  bottom: 0;
  left: 0;
}
