body {
  background-image: url(../images/alice_in_wonderland_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

li {
  display: inline-block;
  vertical-align: top;
}


.logo {
  position: absolute;
  top: 0;
  left: 0;
}

/* SCORES*/

.scores {
  margin-left: 10px;
  color: red;
}

.scores li {
  vertical-align: middle;
  color: red;
}

#player1 {
  color: red;
}

input {
  width: 250px;
  background: transparent;
  border: 0 none;
  font-weight: bolder;
  font-family: cursive;
  text-align: center;
  color: red;
  font-size: 25pt;
  margin-top: 150px;
}

#score1 {
  padding-top: 136px;
  font-family: cursive;
  font-size: 50px;
  color: red;
}

#score2 {
  padding-top: 136px;
  font-family: cursive;
  font-size: 50px;
  color: red;
}



/* GAME */

.list-container {
  margin-top: 60px;
}

#box1 {
  width: 300px;
  height: 300px;
  background-image: no-repeat;
  background-size: contain;
}
/*tried to get the images to transition*/
#box2 {
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#box3 {
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#box4 {
  width: 300px;
  height: 300px;
  background-image: no-repeat;
  background-size: contain;
}

#box1 img, #box4 img {
  padding-top: 100px;
}

button {
  font-family: cursive;
  font-size: 20pt;
  position: fixed;
  bottom: 0;
  left: 0;
}
